<section #parentSection class="overflow-y-auto h-full">
  <header class="bg-white py-8 px-10">
    <a class="text-sm font-semibold text-h1.2"> Encuestas </a>
    <h1 class="text-4xl font-bold text-h1">Perfil Psicológico</h1>
  </header>
  <div class="sticky top-0 py-2 px-4 flex justify-between">
    <div class="flex flex-col gap-2">
      <div class="h-4 w-52 rounded-full overflow-hidden bg-gray-300">
        <div
          class="h-full bg-green-500 text-end text-xs text-white"
          [ngStyle]="{
            width: getPValue()
          }"
        ></div>
      </div>
      <span class="text-[8px]"
        >{{ countCompletedAnswers() }} de {{ paginator.length }}</span
      >
    </div>
    <span class="text-[8px]">
      Página {{ paginator.pageNumber }} de {{ paginator.pages }}
    </span>
  </div>
  <body class="px-12 pt-8 pb-12 flex flex-col">
    <div class="p-4 flex flex-col gap-4">
      <div
        class="p-4 shadow rounded-lg bg-white"
        *ngFor="let question of filterQuestions()"
      >
        <div class="font-medium">{{ question.id }}. {{ question.name }}</div>
        <div>
          <mat-radio-group
            aria-label="Select an option"
            class="flex flex-col"
            [(ngModel)]="questions[question.id - 1]['answer']"
          >
            <mat-radio-button
              *ngFor="let option of itemOptions"
              [value]="option.value"
              >{{ option.name }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="py-2 flex justify-between items-end">
      <div class="flex gap-4">
        <button
          (click)="getPreviousItem()"
          [disabled]="paginator.pageNumber == 1"
          class="text-indigo-700 rounded px-4 py-2 hover:bg-gray-200 font-light disabled:hover:bg-transparent disabled:text-gray-400"
        >
          Anterior
        </button>
        <button
          (click)="
            paginator.pageNumber == paginator.pages
              ? submitForm()
              : getNextItem()
          "
          class="bg-indigo-700 text-white shadow rounded px-4 py-2 font-medium"
        >
          {{ paginator.pageNumber == paginator.pages ? "Enviar" : "Siguiente" }}
        </button>
      </div>
      <a routerLink="../resultados-test" class="rounded-full text-xs gray-400">
        Ver Resultados
      </a>
    </div>
  </body>
</section>
