@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* *,
  ::after,
  ::before {
    border-style: none;
  } */
}
:root {
  font-family: "Inter", sans-serif;

  --body-color: #f1f5f9;
}
body {
  background-color: var(--body-color);
}

html,
body {
  height: 100%;
}
details:first-child {
  @apply rounded-t;
}
details:last-child {
  @apply rounded-b;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
