@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *,
  ::after,
  ::before {
    border-style: none;
  }
}
:root {
  font-family: "Inter", sans-serif;

  --body-color: #f1f5f9;
}
body {
  background-color: var(--body-color);
}

html,
body {
  height: 100%;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
