<div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-medium tracking-tight leading-6 truncate">
        Registrar lista de estudiantes
    </div>
    <div class="flex flex-col flex-auto mt-2">
        <div class="flex-auto py-1 sm:py-3">
            <div class="flex flex-col gap-4">
                <div class="flex flex-col items-start">
                    <div class="w-full">

                        <div class="flex items-center ml-2 mb-5">
                            <input type="file" #fileInput (change)="cargarDatosEstudiantes_Excel($event)" multiple
                                hidden>
                            <button mat-stroked-button color="accent" class="flex items-center"
                                (click)="fileInput.click()">
                                Cargar datos
                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="upload_file"></mat-icon>
                            </button>
                            <button mat-button class="flex items-center ml-4" (click)="descargarPlantilla()">
                                Descargar Plantilla
                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="description"></mat-icon>
                            </button>
                            <button mat-button class="flex items-center ml-4" (click)="limpiarRegistrosFormulario()">
                                Limpiar registros
                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="history"></mat-icon>
                            </button>
                            <button mat-button class="flex items-center ml-4"
                                (click)="eliminarDNIsDuplicadosYRegistrados()">
                                Eliminar DNIs registrados
                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="delete_sweep"></mat-icon>
                            </button>
                        </div>

                        <form [formGroup]="formEstudiantes" (ngSubmit)="registrarEstudiantesApi()" class="w-full">
                            <div formArrayName="estudiantes" class="flex flex-col gap-4">
                                <div *ngFor="let estudiante of estudiantes.controls; let i = index" [formGroupName]="i"
                                    class="flex flex-row gap-2 items-start">
                                    <!-- Cambio aquí: 'items-center' a 'items-start' -->
                                    <!-- Número de estudiante en la misma fila -->
                                    <div class="font-bold text-lg">{{ i + 1 }}.</div>
                                    <mat-form-field class="flex-1">
                                        <input matInput placeholder="Nombres" formControlName="nombres" class="w-full"
                                            (ngModelChange)="estudiante.get('nombres').setValue($event?.trim())">
                                        <mat-error
                                            *ngIf="estudiante.get('nombres').invalid && estudiante.get('nombres').touched">
                                            Falta agregar nombres
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="flex-1">
                                        <input matInput placeholder="Apellido Paterno" formControlName="apellidoPaterno"
                                            class="w-full"
                                            (ngModelChange)="estudiante.get('apellidoPaterno').setValue($event?.trim())">
                                        <mat-error
                                            *ngIf="estudiante.get('apellidoPaterno').invalid && estudiante.get('apellidoPaterno').touched">
                                            Falta agregar apellido paterno
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="flex-1">
                                        <input matInput placeholder="Apellido Materno" formControlName="apellidoMaterno"
                                            class="w-full"
                                            (ngModelChange)="estudiante.get('apellidoMaterno').setValue($event?.trim())">
                                        <mat-error
                                            *ngIf="estudiante.get('apellidoMaterno').invalid && estudiante.get('apellidoMaterno').touched">
                                            Falta agregar apellido materno
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="flex-1">
                                        <input type="number" matInput placeholder="DNI" formControlName="dni"
                                            class="w-full">
                                        @if(estudiante.get('dni')?.value?.toString()?.length!=8){
                                        <mat-error>
                                            El DNI debe tener 8 dígitos.
                                        </mat-error>
                                        }
                                        @else if (
                                        estudiante.get('dni').errors?.dniDuplicado
                                        ) {
                                        <mat-error>
                                            Este DNI esta duplicado.
                                        </mat-error>
                                        } @else if (
                                        estudiante.get('dni').errors?.dniRegistrado
                                        ) {
                                        <mat-error>
                                            Este DNI ya ha sido registrado.
                                        </mat-error>
                                        }

                                    </mat-form-field>
                                    <!-- Botón de eliminar estudiante -->
                                    <button mat-icon-button type="button" (click)="removerEstudiante(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div
                                class="flex flex-col sm:flex-row justify-between items-center mt-4 space-y-2 sm:space-y-0">
                                <!-- Botones aquí -->
                                <button mat-raised-button type="button" (click)="agregarEstudiante()"
                                    class="w-full sm:w-auto">
                                    Agregar Nuevo Estudiante
                                </button>
                                <button mat-raised-button color="primary" type="submit"
                                    [disabled]="!formEstudiantes.valid" class="w-full sm:w-auto">
                                    <b>Finalizar Registro</b>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
