<section class="sidebar p-4 cursor-default">
  <div class="p-4">
    <div class="mx-auto cover rounded-full"></div>
    <div class="prose text-slate-300 text-2xl font-semibold text-center pt-3">
      {{ fullName }}
    </div>
  </div>

  <div class="prose px-4 text-violet-500 text-base">Panel</div>

  <div
    *ngFor="let item of menuItems"
    class="py-2 px-4 cursor-pointer hover:bg-slate-800 text-slate-400 hover:text-white rounded flex items-center gap-6"
  >
    <mat-icon>{{ item.icon }}</mat-icon>
    <div class="w-auto font-semibold">{{ item.name }}</div>
  </div>
</section>
