@if(!visualizarReporteEstudiante){
<div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
    <div class="p-6">
        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">
            <b>Resultados de los estudiantes</b>
        </div>
        <section class="flex justify-between items-start pt-4">
            <div class="flex h-10 w-min overflow-hidden rounded-full border border-gray-100 shadow-md">
                @for (button of botonesDimensiones; track button) {
                <button (click)="button.accion()" [ngClass]="getButtonClassDimension(button)"
                    class="w-max px-6 py-2 transition-all duration-200 ease-in-out">
                    {{ button.texto }}
                </button>
                }
            </div>
            <div class="flex h-10 w-min overflow-hidden rounded-full border border-gray-100 shadow-md">
                @for (button of botonesEstadosVisibles; track button) {
                <button (click)="button.accion()" [ngClass]="getButtonClassEstado(button)"
                    class="w-max px-6 py-2 transition-all duration-200 ease-in-out">
                    {{ button.texto }}
                </button>
                }
            </div>
        </section>
    </div>

    @if (reporteSalonFiltrado.data?.length > 0) {

    <div class="overflow-x-auto mx-6" (click)="this.reporteSalonFiltrado.sort = this.estudiantesTableMatSort">

        <section class="ms-1 mb-5 flex flex-row items-center content-center w-auto">
            <div class="h-auto items-center">
                <p class="text-base">
                    Existen <b>{{reporteSalonFiltrado.data.length}}</b> estudiantes
                </p>
            </div>
            <a href="#" (click)="exportarExcel_resultadosPsicologicosAula(); $event.preventDefault()"
                class="mx-3 text-base text-blue-600 hover:text-blue-800 visited:text-purple-600 underline">
                (Descargar resultados)
            </a>
        </section>

        <table mat-table [dataSource]="reporteSalonFiltrado" matSort #estudiantesTable class="mat-elevation-z8">

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let element">
                    {{(element.nombre)| titlecase}}
                </td>
            </ng-container>
            <!-- DNI Column -->
            <ng-container matColumnDef="DNI">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
                <td mat-cell *matCellDef="let element"> {{element.DNI}} </td>
            </ng-container>

            <!-- Estado Evaluacion Estudiante Column -->
            <ng-container matColumnDef="estadoEvaluacionEstudiante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Estado evaluacion
                </th>
                <td mat-cell *matCellDef="let element">
                    <button class="inline-flex items-center font-bold text-md px-2.5 py-0.5 rounded-full tracking-wide"
                        [ngClass]="{
                                        'bg-orange-200 text-orange-800 dark:bg-orange-600 dark:text-orange-50': element.estadoEvaluacionEstudiante === 'P',
                                        'bg-gray-200 text-gray-800 dark:bg-gray-600 dark:text-gray-50': element.estadoEvaluacionEstudiante === 'N',
                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': element.estadoEvaluacionEstudiante === 'F'
                                    }">
                        <span class="leading-relaxed whitespace-nowrap">
                            {{element.estadoEvaluacionEstudiante === 'F' ? 'Terminado' :
                            element.estadoEvaluacionEstudiante === 'N' ? 'No iniciado' :
                            element.estadoEvaluacionEstudiante === 'P' ? 'En proceso' : ''}}
                        </span>
                    </button>
                </td>
            </ng-container>
            <!-- Promedio Column -->
            <ng-container matColumnDef="promedio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Resultado</th>
                <td mat-cell *matCellDef="let element">
                    <button class="inline-flex items-center font-bold text-md px-2.5 py-0.5 rounded-full tracking-wide"
                        [ngClass]="obtenerClasePorPuntajeReporteEstudiante(element.promedio)"
                        matTooltip="Puntaje: {{element.promedio | number:'1.1-1'}}" [matTooltipPosition]="'above'"
                        [matTooltipHideDelay]="200" [matTooltipShowDelay]="600">
                        {{obtenerCategoriaPorPuntajeReporteEstudiante(element.promedio)}}
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                    <button [disabled]="element.mean == 0 || element.estadoEvaluacionEstudiante !='F'" mat-icon-button
                        (click)="estudianteId = element.id;
                        estudianteNombre = (element.ApellidoPaterno + ' '+ element.ApellidoMaterno + ', ' + element.Nombres); visualizarReporteEstudiante = true">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    } @else {
    <div class="bg-blue-100 text-blue-800 text-center mx-4 mb-4 p-4 rounded-lg shadow-md">
        Ningún test psicológico
    </div>
    }
</div>
} @else if(visualizarReporteEstudiante && estudianteId && evaluacionPsicologicaAulaId &&
filtrosSeleccionados.succeeded){
<app-reporte-estudiante [filtrosSeleccionados]="filtrosSeleccionados" [estudianteId]="estudianteId"
    [estudianteNombre]="estudianteNombre" [evaluacionPsicologicaAulaId]="evaluacionPsicologicaAulaId"
    [cargarValoresIniciales]="cargarValoresInicialesReporteEstudiante"
    (regregarReporteSalon)="ocultarReporteEstudiante($event)"></app-reporte-estudiante>
}
