<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Dashboard</a>
                    </div>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Aulas</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Gestionar Aulas
                </h2>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto min-w-0">
        <!-- Main -->
        <div class="flex-auto px-6 py-4 sm:px-10 sm:py-7">
            <!-- CONTENT GOES HERE -->
            <div class="flex flex-col">
                <div class="grid sm:grid-cols-4 gap-2 items-center">
                    <mat-form-field>
                        <mat-label>Unidad</mat-label>
                        <mat-select [(ngModel)]="selectedUnity">
                            @for(unidad of unities;track unidad){
                            <mat-option [value]="unidad.Id">
                                {{ unidad.Nombre }}
                            </mat-option>
                            }

                            <mat-option (click)="openCreateUnitModal()">
                                Crear Unidad
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Grado</mat-label>
                        <mat-select [(ngModel)]="selectedDegree" (selectionChange)="selectedSection = null">
                            @for(degree of distinctClassrooms; track degree){
                            <mat-option [value]="degree">
                                {{ degree }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Sección</mat-label>
                        <mat-select [disabled]="!selectedDegree" [(ngModel)]="selectedSection">
                            @for(aula of sections; track aula){
                            <mat-option [value]="aula.Id">
                                {{ aula.Seccion }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-fab extended [disabled]="!selectedSection || !selectedUnity"
                            (click)="obtnerEstudiantesPorAulaYUnidad()">
                            <mat-icon svgIcon="filter_alt"></mat-icon>
                            Filtrar
                        </button>
                    </div>
                </div>

                <div class="flex flex-col gap-4">

                    <div class="overflow-x-auto space-x-4">
                        <mat-button-toggle-group [(ngModel)]="items" aria-label="Font Style">
                            <!-- Botón para Listar Estudiantes -->
                            <mat-button-toggle value="list"
                                [disabled]="!selectedSection || !selectedUnity">Listar</mat-button-toggle>
                            <!-- Botón para Asignar Estudiantes -->
                            <mat-button-toggle value="assign" [disabled]="!selectedSection || !selectedUnity">Asignar
                                Estudiantes</mat-button-toggle>
                            <!-- Botón para Registrar Estudiantes -->
                            <mat-button-toggle value="register"
                                [disabled]="!selectedSection || !selectedUnity">Registrar
                                Estudiantes</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div>
                        @switch(items){ @case("list"){
                        <div class="flex flex-col gap-4">
                            <div class="flex gap-4">
                                @if(isTestEnabled){
                                <button mat-button>
                                    Detener Prueba Psicológica
                                </button>

                                } @else {
                                <button mat-button>
                                    Iniciar Prueba Psicológica
                                </button>
                                }
                            </div>
                            @if(true){ @if(classroomStudents.length > 0){

                            <!-- Campo de entrada para la búsqueda -->
                            <mat-form-field class="w-full mt-4 sm:mt-0 sm:mx-2" [subscriptSizing]="'dynamic'">
                                <mat-icon matPrefix class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                <input type="text" matInput (input)="applyFilter(query.value)"
                                    placeholder="Buscar estudiante" #query>
                            </mat-form-field>

                            <!-- Tabla de estudiantes -->
                            <!-- Detalles de los estudiantes -->
                            <div
                                class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Detalles de los
                                    estudiantes</div>
                                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                                    <table class="min-w-240 overflow-y-visible" mat-table
                                        [dataSource]="filteredStudents && filteredStudents.length > 0 ? filteredStudents : classroomStudents">


                                        <!-- Nombre Completo -->
                                        <ng-container matColumnDef="NombreCompleto" sticky>
                                            <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
                                            <td mat-cell *matCellDef="let student">
                                                {{formatName(student.NombreCompleto)}}</td>
                                        </ng-container>

                                        <!-- DNI -->
                                        <ng-container matColumnDef="DNI">
                                            <th mat-header-cell *matHeaderCellDef>DNI</th>
                                            <td mat-cell *matCellDef="let student">{{student.DNI}}</td>
                                        </ng-container>

                                        <!-- Estado Estudiante -->
                                        <ng-container matColumnDef="EstadoEstudiante">
                                            <th mat-header-cell *matHeaderCellDef>Estado</th>
                                            <td mat-cell *matCellDef="let student">
                                                <span class="flex items-center">
                                                    <span class="w-2 h-2 rounded-full"
                                                        [ngClass]="{'bg-red-500': student.EstadoEstudiante === 'F',
                                                                    'bg-gray-500': student.EstadoEstudiante === 'N',
                                                                    'bg-green-500': student.EstadoEstudiante === 'P'}"></span>
                                                    <span class="ml-3 leading-4">
                                                        {{student.EstadoEstudiante === 'F' ? 'Terminado' :
                                                        student.EstadoEstudiante === 'N' ? 'No iniciado' :
                                                        student.EstadoEstudiante === 'P' ? 'En proceso' : ''}}
                                                    </span>
                                                </span>
                                            </td>
                                        </ng-container>

                                        <!-- Opciones -->
                                        <ng-container matColumnDef="Opciones">
                                            <th mat-header-cell *matHeaderCellDef>Opciones</th>
                                            <td mat-cell *matCellDef="let student">
                                                <button mat-button (click)="deleteStudent()">Eliminar</button>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row
                                            *matHeaderRowDef="['NombreCompleto', 'DNI', 'EstadoEstudiante', 'Opciones']">
                                        </tr>
                                        <tr mat-row
                                            *matRowDef="let row; columns: ['NombreCompleto', 'DNI', 'EstadoEstudiante', 'Opciones'];">
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            }@else {
                            <div class="flex items-center justify-center h-50 border rounded">
                                <p class="text-center">
                                    No hay información disponible.
                                </p>
                            </div>
                            } }@else {
                            <p>Selecciona un formulario.</p>

                            }
                        </div>
                        } @case("assign"){
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-wrap gap-2">
                                @for (student of selectedStudents; track
                                student; let i = $index) {
                                <mat-chip-row (removed)="remove(i)">
                                    {{ student.nombre }}
                                    <button matChipRemove [attr.aria-label]="
                                            'remove ' + student.nombre
                                        ">
                                        <mat-icon [svgIcon]="'remove'" />
                                    </button>
                                </mat-chip-row>
                                }
                            </div>
                            <mat-form-field class="flex flex-col">
                                <input matInput #autocompleteInput [ngModel]="inputValue"
                                    (ngModelChange)="onInputChange($event)" [matAutocomplete]="auto" />
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)"
                                    [displayWith]="displayFn">
                                    @for (student of filteredSearchedStudents;
                                    track student) {
                                    <mat-option [value]="student">
                                        {{ student.nombre }} ({{ student.dni }})
                                    </mat-option>
                                    }
                                    <mat-option> Crear Estudiante </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-button [disabled]="selectedStudents.length == 0">
                                Asignar
                            </button>
                        </div>
                        } @case("register"){
                        <!-- Agregar componente de registro aqui -->
                        <div class="flex-auto py-1 sm:py-3">
                            <div class="flex flex-col gap-4">
                                <div class="flex flex-col items-start">
                                    <div class="w-full">
                                        <form [formGroup]="
                                                formRegistrarEstudiante
                                            " (ngSubmit)="registerStudent()"
                                            class="flex flex-col p-8 bg-card rounded-2xl shadow overflow-hidden">
                                            <mat-form-field class="flex-auto">
                                                <mat-label>Nombres</mat-label>
                                                <input type="text" matInput formControlName="nombres"
                                                    placeholder="Ingrese su nombre" />
                                                <mat-error *ngIf="
                                                        formRegistrarEstudiante.get(
                                                            'nombres'
                                                        ).invalid &&
                                                        formRegistrarEstudiante.get(
                                                            'nombres'
                                                        ).touched
                                                    ">
                                                    Falta ingresar nombre
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="flex-auto">
                                                <mat-label>Apellido Paterno</mat-label>
                                                <input type="text" matInput formControlName="apellidoPaterno" required
                                                    placeholder="Ingrese su apellido paterno" />
                                                <mat-error *ngIf="
                                                        formRegistrarEstudiante.get(
                                                            'apellidoPaterno'
                                                        ).invalid &&
                                                        formRegistrarEstudiante.get(
                                                            'apellidoPaterno'
                                                        ).touched
                                                    ">
                                                    Falta ingresar apellido
                                                    paterno
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="flex-auto">
                                                <mat-label>Apellido Materno</mat-label>
                                                <input type="text" matInput formControlName="apellidoMaterno"
                                                    placeholder="Ingrese su apellido materno" />
                                                <mat-error *ngIf="
                                                        formRegistrarEstudiante.get(
                                                            'apellidoMaterno'
                                                        ).invalid &&
                                                        formRegistrarEstudiante.get(
                                                            'apellidoMaterno'
                                                        ).touched
                                                    ">
                                                    Falta ingresar apellido
                                                    materno
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="flex-auto">
                                                <mat-label>DNI</mat-label>
                                                <input type="number" matInput formControlName="dni"
                                                    placeholder="Ingrese su DNI" />
                                                <mat-error *ngIf="
                                                        formRegistrarEstudiante.get(
                                                            'dni'
                                                        ).invalid &&
                                                        formRegistrarEstudiante.get(
                                                            'dni'
                                                        ).touched
                                                    ">
                                                    El DNI tiene que tener 8
                                                    dígitos
                                                </mat-error>
                                            </mat-form-field>
                                            <div class="flex justify-end mt-4">
                                                <button type="submit" mat-raised-button color="primary" [disabled]="
                                                        formRegistrarEstudiante.invalid
                                                    ">
                                                    Registrar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>